.room-selector{
	width: 70%;
	height: 40px;
	border-radius: 50px;
	margin-bottom: 5px;
}

.text-div{
	float: left;
	width: 45%;
	margin-top: 55px;;
}

.room-div{
	float: right;
	width: 50%;
}

.join-container {
	max-width: 900px;
	padding: 6px;
	margin: 80px auto;	
	color: #fff;
}
