body{
	background-color: rgb(29, 25, 25);
	max-height: 200px;
}
.container {
	padding: 6px;
	margin: 80px auto;	
	background-color: rgb(95, 93, 93);
}

ul {
	padding-left:  0cm;
}

.room-selector{
	width: 70%;
	height: 40px;
	border-radius: 50px;
	margin-bottom: 5px;
}

.home-main{
	display: grid;
	grid-template-columns: 2fr 2fr;
	
}

.text-home-div{
	background-color: rgb(26, 6, 44);
	color: #fff;
}

.text-home{
	margin-top: 40px;
	margin-left: 10px;;
	font-size: 40px;;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.selector-div{
	margin-left: 40px;
	margin-top: 30px;
	color:#fff;
}

.selector-div label{
	font-size: 25px;
}

.chat-header{
	justify-content: space-between;
	display:flex;
	color: #fff;
	background-color: rgb(27, 26, 26);
	align-items: center;
	padding: 4px;
}

.chat-header a{
	max-height: 40px;
	
}


.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar{
	background-color: rgb(26, 6, 44);
	padding: 20px 20px 60px;
	color: #fff;
}

.chat-sidebar h3{
	font-size: 30px;
	margin-bottom: 5px;
}

.chat-sidebar h2{
	font-size: 18px;
	background-color: rgb(67, 19, 112);
	padding: 15px;
}

.chat-sidebar ul li{
	list-style: none;
	font-size: 16px;
	padding: 5px 0;
	margin-right: 30px;
}

.chat-message{
	padding: 20px;
	max-height: 500px;
	overflow-y: scroll;
}

.form-container{
	color: #fff;
	background-color: rgb(27, 26, 26);
	padding:10px;
}

.form-container form input{
	width: 90%;
}

.message{
	padding: 4px;
	margin-bottom: 10px;
	color: #ccc;
	background-color: #333;
	border-radius: 5px;
}

.message-info{
	font-weight: bold;
	font-size: 16px;
	color: rgb(122, 35, 204);
	opacity: 0.7;
	margin-bottom: 7px;
}

.message-info span{
	color: rgb(85, 84, 84);
}